*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50px;
  background-color: #FF9A4B
}

main{
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 960px;
}

.contents{
  width: 300px;
  margin-right: 30px;
  background-color: #EEE;
  position: relative;
}

.contents:last-child{
  margin-right: 0;
}

.step{
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;

}

.back-image1{
 background-image: url(img/flow01.png);
 background-position: bottom;
 background-size: cover;
 height: 150px;
 margin: 10px 10px 15px 10px;
}

.back-image2{
 background-image: url(img/flow02.png);
 background-position: bottom;
 background-size: cover;
 height: 150px;
 margin: 10px 10px 15px 10px;

}

.back-image3{
 background-image: url(img/flow03.png);
 background-position: bottom;
 background-size: cover;
 height: 150px;
 margin: 10px 10px 15px 10px;

}

h3{
  padding: 15px 0 5px 10px;
}

p{
  margin: 0  10px 0 10px;
}